<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/nm/stylesheets/style.css' /> -->
    <link rel='stylesheet' type='text/css' href='/nm/stylesheets/fullcalendar.css' />
    <link rel='stylesheet' type='text/css' href='/nm/stylesheets/layui.css' />
    <link rel='stylesheet' type='text/css' href='/nm/stylesheets/tooltips.css' />
    <link rel='stylesheet' type='text/css' href='/nm/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' type='text/css' href='/nm/stylesheets/jquery-ui.css' />
    <style type="text/css">
    	.room_name {
		    padding: 10px;
		    line-height: 50px;
		    text-align: center;
		    font-size: 22px;
		}
		.footer{
			height: 20;
		    line-height: 20px;
		    padding: 0 15px;
		    margin-top: 15px;
		    text-align: center;
		}
		.qtip-event-detail {
			opacity: 1 !important;
			z-index: 9999999 !important;
		    width: 255px;
		    background-color: #fff;
		    border: 1px solid #e0e0e0;
		    border-radius: 2px;
		    border-top:3px solid #2878f0;
		    padding:2px;
		    box-shadow: 0 0 8px rgba(0,0,0,.2);
		}
		.qtip-event-detail .qtip-tip{
		    top: 6px !important;
		}
		.event-detail-wrap{
		    display: none;
		    opacity: 1 !important;
		    font-size: 14px;
		    line-height: 26px;
		    color: #666;
		    z-index: 9999999 !important;
		}
		.detail-info-list{
			opacity: 1 !important;
		    color: #999;
		}
		.qtip-focus{
			opacity: 1 !important;
			z-index: 9999999 !important;
		}
		.qtip{
			opacity: 1 !important;
			z-index: 9999999 !important;
		}
		.fc-time-grid-container{
			min-height: 571px!important;
		}
    </style>
  </head>
  <body>
  	<div class="layui-container">  
  		<div class="layui-row">
  			<div class="layui-col-md12">
  				<img src="/nm/images/szucsselogo2.png">
  			</div>
  		</div>
  		<div class="layui-row">
    		<div class="layui-col-md12 room_name">
      			<%= room_name %> 使用情况
	   		</div>
  		</div>
  		<div class="layui-row">
  			<div class="layui-col-md12">
  				<div id='calendar'></div>
  			</div>
  		</div>
  		<div class="layui-row">
  			<div class="layui-col-md12">
  				<p class="footer"><span>计算机与软件学院 &copy; 2020</span></p>
  				<hr/>
  			</div>
  		</div>
  	</div>

  	<div class="event-detail-wrap" id="event-detail">
	    <div class="detail-info-list">
	        <div class="js_event_detail_title"></div>
	        <div class="js_event_detail_time"></div>
	        <div class="js_event_detail_fuzeren"></div>
	        <div class="js_event_detail_phone"></div>
	        <div class="js_event_detail_applytime"></div>
	        <div class="js_event_detail_status"></div>
	    </div>
	</div>
    
  </body>
  <script src="/nm/javascripts/moment.min.js"></script>
  <script src="/nm/javascripts/jquery3.2.min.js"></script>
  <script src="/nm/javascripts/fullcalendar.min.js"></script>
  <script src="/nm/javascripts/zh-cn.js"></script>
  <script src="/nm/javascripts/layui.all.js"></script>
  <script src="/nm/javascripts/jquery.pure.tooltips.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		let layer = layui.layer,mytips
    	// 页面加载完毕，初始化Canlendar
	    $('#calendar').fullCalendar({
	    	customButtons: {
		        938: {
		            text: '938',
		            click: function() {
		                window.location.href="/nm/nmlist?r=938" 
		            }
		        },
		        bgt: {
		            text: '一楼报告厅',
		            click: function() {
		                window.location.href="/nm/nmlist?r=bgt" 
		            }
		        },
		        623: {
		            text: '623',
		            click: function() {
		                window.location.href="/nm/nmlist?r=623" 
		            }
		        },
		        624: {
		            text: '624',
		            click: function() {
		                window.location.href="/nm/nmlist?r=624" 
		            }
		        },
		        413: {
		            text: '413',
		            click: function() {
		                window.location.href="/nm/nmlist?r=413" 
		            }
		        },
		        1019: {
		            text: '1019',
		            click: function() {
		                window.location.href="/nm/nmlist?r=1019" 
		            }
		        },
		        117: {
		            text: '117',
		            click: function() {
		                window.location.href="/nm/nmlist?r=117" 
		            }
		        },
		        hysinfo:{
		        	text:'会议室简况',
		        	click:function(){
		        		layer.open({
						  type: 2,
						  title: '会议室简况',
						  shadeClose: true,
						  shade: 0.8,
						  area: ['750px', '50%'],
						  content: 'hysinfo', //iframe的url
						  end:function(){
						  	
						  }
						}); 
		        	}
		        }
		    },
	    	header: {
	            left: 'prev,next today,938,bgt,623,624,413,1019,117,hysinfo',
	            center: 'title',
	            right: 'month,agendaWeek'
	        },
	        //themeSystem: 'bootstrap3',  // 使用bootstrap3风格
	        themeSystem: 'jquery-ui',  // 使用bootstrap3风格
	        locale:'zh-cn',
	        titleFormat:'YYYY - MM',
	        timeFormat:'H(:mm)',
	        weekNumberTitle:'周',
	        weekNumbers:true,
	        monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
		    monthNamesShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
		    dayNames: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
		    dayNamesShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
			buttonText: {
				today: '今天',
				month: '月',
				week: '周',
				day: '天'
			},
			allDaySlot:true,//显示全天
			allDayText:'全天',
			slotLabelFormat:'HH:mm',//显示y轴时间格式
			//每天几点开始显示
			minTime:8,
			minTime:'8:30',
			maxTime:22,
			maxTime:'21:30',
			weekends:true,
	        defaultView: 'agendaWeek',
	        weekMode:'fixed',
	        height: 695,
		    handleWindowResize:true,//是否随浏览器窗口大小变化而自动变化。
		    firstDay: new Date().getDay(),//1,
	        businessHours: [ // specify an array instead
	            {
	                dow: [ 1, 2, 3, 4, 5 ], // Monday, Tuesday, Wednesday
	                start: '08:30', // 8am
	                end: '21:30' // 6pm
	            }
	        ],
	        //events: 'eventjson?r='+getQueryVariable('r'), //事件数据源
	        editable: true,
	        eventDurationEditable:true,
	        eventStartEditable:false,
	        selectHelper:true,
	        selectable: false,//不能被拖动
	        eventLimit: 2,       //数据条数太多时，限制各自里显示的数据条数（多余的以“+2more”格式显示），默认false不限制,支持输入数字设定固定的显示条数
	        eventLimitText  : "更多",       //当一块区域内容太多以"+2 more"格式显示时，这个more的名称自定义（应该与eventLimit: true一并用）

	   		eventResize : function( event, dayDelta, revertFunc ) {
	   			if(dayDelta._days != 0 && dayDelta._milliseconds !=0){
	   				console.log('-----wrong-----')
	   				layer.msg('只能在当天时间范围进行调整')
	   				revertFunc()
	   				return
	   			}
			    else if(dayDelta._days != 0){
			    	if(dayDelta._milliseconds ==0 && event.allDay){
			    		if('<%=user.cn%>'==event.applyname && event.isok!=1 && moment(event.date).diff(moment(),'day')>=0){
				    		$.ajax({
							  	type: "POST",
								url: "/nm/changeallday",
								data: {'_id':event.myid,'end':(moment(event.end._i)).add(dayDelta._days, 'd').format('YYYY-MM-DD'),'alldayend':(moment(event.alldayend)).add(dayDelta._days, 'd').format('YYYY-MM-DD')},
								success: function (result) {
									if(result.code==0){
									}else{
										layer.msg(result.msg)
									}
								}
							})
				    	}else{
				    		if('<%=user.cn%>'!=event.applyname){
								layer.msg('你不能修改别人的申请')
							}
							 if(event.isok==1){
								layer.msg('通过状态的申请不能改变使用时间')
							}
							 if(moment(event.date).diff(moment(),'day')<0){
								layer.msg('申请已过期，不能修改')
							}
				        	revertFunc()
				        	return 
				    	}
			    	}else{
			    		revertFunc()
			    		return 
			    	}
			    }else if(dayDelta._milliseconds != 0 && dayDelta._days == 0){
			    	let datestr = event.date + ' ' + event.endTime
			        if('<%=user.cn%>'==event.applyname && event.isok!=1 && moment(event.date).diff(moment(),'day')>=0){
			        	 $.ajax({
						  	type: "POST",
							url: "/nm/changeallday",
							data: {'_id':event.myid,'end':moment(datestr).add(dayDelta._milliseconds/1000, 'seconds').format('HH:mm')},
							success: function (result) {
								if(result.code==0){
								}else{
									layer.msg(result.msg)
								}
							}
						})
			        }else{
			        	if('<%=user.cn%>'!=event.applyname){
							layer.msg('你不能修改别人的申请')
						}
						 if(event.isok==1){
							layer.msg('通过状态的申请不能改变使用时间')
						}
						 if(moment(event.date).diff(moment(),'day')<0){
							layer.msg('申请已过期，不能修改')
						}
			        	revertFunc()
			        }
			    }else{
			    	revertFunc()
			    }
			},
	        dayClick: function(date){
		        let click_date = date.format()
		        if(click_date.length >10){
		        	let myjson = {}
		        	let tempdate = click_date.substring(0,10)
		        	if(moment(tempdate).diff(moment(),'day')<0){
		        		return false
		        	}
		        	myjson.click_date = click_date.substring(0,10)
		        	myjson.room_name = getQueryVariable('r')
		        	json = myjson
		        	layer.open({
					  type: 2,
					  title: '信息登记',
					  shadeClose: true,
					  shade: 0.8,
					  area: ['750px', '50%'],
					  content: 'applyform', 
					  end:function(){
					  	$('#calendar').fullCalendar('removeEvents');
					  	 getAgentEvent(1)
					  }
					}); 
		        }else{
		        	let click_date = date.format()
		        	let myjson = {}
		        	let tempdate = click_date.substring(0,10)
		        	if(moment(tempdate).diff(moment(),'day')<0){
		        		return false
		        	}
		        	myjson.click_date = click_date
		        	myjson.room_name = getQueryVariable('r')
		        	json = myjson
		        	layer.open({
					  type: 2,
					  title: '信息登记-全天',
					  shadeClose: true,
					  shade: 0.8,
					  area: ['750px', '50%'],
					  content: 'applyform_allday', 
					  end:function(){
					  	$('#calendar').fullCalendar('removeEvents');
					  	 getAgentEvent(0)
					  }
					}); 
		        }
		    },
		    eventClick:function(event){
		    	if(moment(event.date).diff(moment(),'day')<0){
		    		return false
		    	}
		    	let admin = '<%=user.admin%>'
		    	json = event
		    	if(admin == 0){
		    		if(event.applyname == '<%=user.cn%>'&&event.isok==0){
		    			event.modify = 1
		    			event.room_name = getQueryVariable('r')
		    			json = event
		    			console.log('json---->',json)
			        	if(event.allDay){
			        		layer.msg('可以拉动右方进行日期延长')
			        		return false
			        	}else{
			        		let clickview = $('#calendar').fullCalendar('getView')
			        		if(clickview.name == 'month'){
			        			return false
			        		}else{
			        			layer.msg('可以拉动下方进行时间修改')
			        		}
			        	}
		    		}
		    	}else if(admin==1){	        	
		        	if(event.allDay == true) {
		        		openallday()
		        	}else{
		        		opennormal()
		        	}
		    	}else if((admin==2&&event.room_name=='624')||(admin==2&&event.room_name=='623')){
		    		if(event.allDay == true) {
		        		openallday()
		    		}else{
		    			opennormal()
		    		}
		    	}else if((admin==3&&event.room_name=='413')){
		    		if(event.allDay == true) {
		        		openallday()
		    		}else{
		    			opennormal()
		    		}
		    	}else if((admin==4&&event.room_name=='1019')){
		    		if(event.allDay == true) {
		        		openallday()
		    		}else{
		    			opennormal()
		    		}
		    	}else if((admin==5&&event.room_name=='117')){
		    		if(event.allDay == true) {
		        		openallday()
		    		}else{
		    			opennormal() 
		    		}
		    	}
		    },
			eventRender:function(event,info){//日程事件渲染时触发
				let status = '未通过'
				if(event.isok == 1){
					status = '通过'
				}
				let delbtn = ''
				if((event.applyname == '<%=user.cn%>'&&event.isok==0&&moment(event.date).diff(moment(),'day')>0)||('<%=user.admin%>'==1) || ('<%=user.admin%>'==3&&event.room_name=='413') || ('<%=user.admin%>'==4&&event.room_name=='1019') || ('<%=user.admin%>'==5&&event.room_name=='117') || ('<%=user.admin%>'==2&&event.room_name=='624') || ('<%=user.admin%>'==2&&event.room_name=='623')){
					delbtn = '<button class="layui-btn layui-btn-warm layui-btn-xs delbtn" _id="'+event.myid+'">删除</button>'
				}
				if(event.allDay){
					$(info).pt({
					    position: 'r', 
					    align: 't',	   
					    content: '用途：' + event.mytitle + '<br/>时间：' + event.alldaystart + "  全天" /*+ event.alldayend */+ '<br/>负责人：' + event.fuzeren + '<br/>电话：' + event.phone + '<br/>申请时间：' + event.applytime + '<br/>状态：<span style="color:red;">' + status + '</span><br/>' + delbtn,
					    height:'auto',
					    width:'250'
					})
				}else{
					$(info).pt({
					    position: 'r', 
					    align: 't',	   
					    content: '用途：' + event.mytitle + '<br/>时间：' + event.startTime + "-" + event.endTime + '<br/>负责人：' + event.fuzeren + '<br/>电话：' + event.phone + '<br/>申请时间：' + event.applytime + '<br/>状态：<span style="color:red;">' + status + '</span><br/>' + delbtn,
					    height:'auto',
					    width:'250'
					})
				}
			},
			viewRender : function(view,element){
                if(view.name == 'agendaWeek'){
                    $('#calendar').fullCalendar('removeEvents');
		            getAgentEvent(1)
                }else{
		            $('#calendar').fullCalendar('removeEvents');
		            getAgentEvent(0)
                }//else
                return false      
            },
	    });
				$(document).on('click','.delbtn',function(){
					let _id = $(this).attr('_id')
					layer.confirm('删除该条记录？', {
					}, function(){
					  $.ajax({
					  	type: "POST",
						url: "/nm/delnm",
						data: {'_id':_id},
						success: function (result) {
							if(result.code==0){
								layer.msg('已删除')
								$('#calendar').fullCalendar('removeEvents');
		           				getAgentEvent(1)
							}else{
								layer.msg(result.msg)
							}
						}
					  })
					});
					return false
				})
	});
//console.log(moment($('#calendar').fullCalendar('getView').start._d).format('YYYY-MM-DD'),$('#calendar').fullCalendar('getView').end._d)
function getAgentEvent(isWeek){
	let firstDay_of_week,endDay_of_week
	let firstDay_of_month = moment($('#calendar').fullCalendar('getView').start._d).format('YYYY-MM-DD')//moment().startOf('month').format('YYYY-MM-DD')
	let endDay_of_month = moment($('#calendar').fullCalendar('getView').end._d).format('YYYY-MM-DD')
	if(isWeek){
		firstDay_of_month = null
		endDay_of_month = null
		let curview = $('#calendar').fullCalendar('getView')
		firstDay_of_week = moment(curview.start._i).format('YYYY-MM-DD')
		endDay_of_week = moment(curview.end._i).format('YYYY-MM-DD')
	}
	//获取会议室参数
	let room_name = getQueryVariable("r")
	let btnarr = $('button')
	$.each(btnarr,function(key,val){
		if($(this).text() == room_name){
			$(this).addClass('fc-state-disabled')
			return false
		}
		if($(this).text() == '一楼报告厅' && room_name == 'bgt'){
			$(this).addClass('fc-state-disabled')
			return false
		}
	})
	
	$.ajax({
		type: "POST",
		url: "/nm/getapplyinfo",
		data: {'firstDay_of_month':firstDay_of_month,'endDay_of_month':endDay_of_month,'room_name':room_name,'firstDay_of_week':firstDay_of_week,'endDay_of_week':endDay_of_week,'room_name':getQueryVariable('r')},
		success: function (result) {
			if(result.code==0){
				if (result.data.length>0) {
					$.each(result.data, function (index, info) {
						let eventObj = new Object()
						let status = '未通过'
						if(info.isok == 1){
							status = '通过'
						}

						if(moment(info.date).diff(moment(),'day')<0){
							if(info.judgedate&&moment(info.judgedate).diff(moment(),'day')>=0){
								eventObj.color = 'green'
							}else{
								eventObj.color = 'gray'
							}	
						}else if(moment(info.date).diff(moment(),'day')>=0 && info.isok == 1){
							eventObj.color = 'green'
						}
						else{
							eventObj.color = 'orange'
						}
						eventObj.title = info.title + '\r\n'+ status	
						eventObj.mytitle = info.title						
						eventObj.allDay = false
						if(info.allDay==true){
							eventObj.start = info.date;
							eventObj.end = info.end
							eventObj.allDay=true
						}else{
							eventObj.start = new Date(info.date + ' ' + info.start);
							eventObj.end = new Date(info.date + ' ' + info.end) ;
							
						}
						eventObj.startTime = info.start
						eventObj.endTime = info.end
						eventObj.myid = info._id
						eventObj.mytitle = info.title
						eventObj.num = info.num
						eventObj.phone = info.phone
						eventObj.fuzeren = info.fuzeren
						eventObj.isok = info.isok
						eventObj.room_name = info.room_name
						eventObj.date = info.date
						eventObj.applytime = info.applytime
						eventObj.applyname = info.applyname
						eventObj.alldaystart = info.alldaystart
						eventObj.alldayend = info.alldayend
						let arr = [];
						$('#calendar').fullCalendar('renderEvent', eventObj, true);
					})
				} 
				else {
				}
				}else{

			}
		}
	})//ajax  
	return false
}
function getQueryVariable(variable)
{
       var query = window.location.search.substring(1);
       var vars = query.split("&");
       for (var i=0;i<vars.length;i++) {
               var pair = vars[i].split("=");
               if(pair[0] == variable){return pair[1];}
       }
       return(false);
}
function openallday(){
	layer.open({
		type: 2,
		title: '审批申请-全天',
		shadeClose: true,
		shade: 0.8,
		area: ['750px', '50%'],
		content: 'spsq_allday', 
		end:function(){
			$('#calendar').fullCalendar('removeEvents');
			getAgentEvent(1)
		}
	});
}
function opennormal(){
	layer.open({
		type: 2,
		title: '审批申请',
		shadeClose: true,
		shade: 0.8,
		area: ['750px', '50%'],
		content: 'spsq', 
		end:function(){
			$('#calendar').fullCalendar('removeEvents');
			getAgentEvent(1)
		}
	});
}
</script>
</html>
